<.header>
  <div>
    Room "<%= @room.room_name %>"
    <div class="float-right">
      <button class="rounded-2xl hover:animate-pulse hover:motion-reduce bg-purple-800 p-1 px-5 text-white text-base peer">
        Users
      </button>
      <aside class="border border border-emerald-300 z-10 grid fixed top-0 bg-green-100 w-[233px] h-full -left-[233px] peer-focus:left-0 ease-out delay-150 duration-300 rounded-r-[25px]">
        <h1 class="text-purple-800 bold text-[15px] mt-8 text-center uppercase">
          Users in room "<%= @room.room_name %>"
        </h1>
        <ul>
          <% number_of_users = length(@users) %>
          <%= if number_of_users > 0 do %>
            <%= for user_index <- 0..number_of_users-1 do %>
              <%= if Enum.at(@users, user_index).username == @room.owner_name do %>
                <li class="p-2 mx-5 text-[13px] hover:bg-emerald-200 rounded-2xl">
                  <%= Enum.at(@users, user_index).username %> [Room Owner]
                </li>
              <% else %>
                <li class="p-2 mx-5 text-[13px] hover:bg-emerald-200 rounded-2xl">
                  <%= Enum.at(@users, user_index).username %>
                </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </aside>
    </div>
  </div>
</.header>

<div id="chatbox_container" class="rounded-2xl bg-green-100">
<div id="chatbox" class="h-80 rounded-2xl bg-green-100 overflow-y-auto mt-3">
  <ul>
    <% number_of_messages = length(@messages) %>
    <%= if number_of_messages > 0 do %>
      <%= for message_index <- number_of_messages-1..0 do %>
        <% message = Enum.at(@messages, message_index) %>
        <li class="message rounded-2xl p-2">
          <%= if not is_nil(Map.get(message, :sender)) do %>
            <div class="message_header">
              <span class="message_username m-2 font-bold"><%= message.sender %></span>
              <span
                id={"message-datetime-#{message.id}"}
                class="message_datetime"
                phx-hook="HandleTimestampTimezone"
              >
                <%= message.inserted_at %>
              </span>
              <%= if not message.is_deleted do %>
                <div class="message_settings_container">
                  <ul class="menu">
                    <li>
                      <button
                        id={"button-#{message.id}"}
                        class="message_settings_button items-center p-1.5 text-sm font-medium text-center text-gray-900 hover:bg-green-200 focus:bg-green-200"
                        phx-hook="OpenMessageSettings"
                      >
                        <svg
                          id={"svg-#{message.id}"}
                          class="w-6 h-6"
                          aria-hidden="true"
                          fill="currentColor"
                          viewBox="0 0 20 20"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            id={"path-#{message.id}"}
                            d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"
                          >
                          </path>
                        </svg>
                      </button>
                      <div
                        id={"settings-#{message.id}"}
                        hidden
                        class="message_settings_submenu p-1.5 bg-green-200 focus:bg-green-200"
                        phx-hook="CloseMessageSettings"
                      >
                        <button
                          id={"edit-#{message.id}"}
                          class="hover:bg-emerald-300 rounded-lg p-1.5 text-sm"
                        >
                          Edit
                        </button>
                        <button
                          id={"delete-#{message.id}"}
                          class="hover:bg-emerald-300 rounded-lg p-1.5 text-sm"
                        >
                          Delete
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
              <% end %>
            </div>
          <% end %>
          <div class="message_content m-2">
            <%= cond do %>
              <% message.is_deleted -> %>
                <i> This message has been deleted. </i> 🗑️
              <% true -> %>
                <pre><%= message.content %></pre>
            <% end %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div id="chatbox_anchor">
    <p> <%
      actual_users_typing = Map.filter(@users_typing, fn {_key, value} -> value == true end)
      number_of_users_typing = Map.values(actual_users_typing) |> length()
      users_enumeration_string = Map.keys(actual_users_typing) |> Enum.join(",")
      correct_present_continuous_verb = if number_of_users_typing == 1, do: "is", else: "are"
      cond do
        number_of_users_typing > 0 and number_of_users_typing <= 5 ->
          IO.puts(users_enumeration_string <> " " <> correct_present_continuous_verb <> " typing...")
        number_of_users_typing > 5 -> "Many users are typing..."
        true -> ""
      end
    %> </p>
    <%= if number_of_users_typing == 1 do %>
      <%= users_enumeration_string <> " is typing..." %>
    <% end %>
    <%= if number_of_users_typing > 1 do %>
      <%= users_enumeration_string <> " are typing..." %>
    <% end %>
  </div>
</div>

<form action="#" phx-submit="save_message" class="my-2 grid grid-cols-6 gap-2">
  <textarea name="text" id="message_textarea" maxlength="1000" cols="50" rows="2" class="rounded-2xl bg-green-100 border-0 focus:border focus:border-purple-800 col-span-5 resize-none" phx-hook="CaptureKeyPress"></textarea>
  <button type="submit" class="rounded-2xl text-white text-base bg-purple-800 hover:animate-pulse hover:motion-reduce float-right">Send</button>
</form>

<div id="emoji_utils_container" class="my-2 gap-2">
  <button
    id="emoji_button"
    class="rounded-2xl px-2 text-white text-base bg-purple-800 hover:animate-pulse hover:motion-reduce"
    phx-hook="OpenEmojiPopup"
  >
    😁
  </button>
  <emoji-picker class="light" id="emoji_popup" hidden></emoji-picker>
  <.back navigate={~p"/"}>Back to room list</.back>
</div>
