@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "home.css";

/* This file is for your main application CSS */

.background {
    background: #EDFFEC;
}

.message {
    padding: 5px;
}

button:hover {
    background: #9792E3;
}

.user-list-item {
    padding: 10px;
}

#emoji_utils_container {
    position: relative;
}

emoji-picker {
    --num-columns: 6;
    --emoji-size: 1rem;
    --border-size: 5px;
    --border-radius: 5px;
    --background: #d1fae5;
}

#emoji_popup {
    position: absolute;
    top: -1500%;
    left: 5%;
    z-index: 10;
}

