/* .join-room-list-modal-form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.join-room-list-modal-input-group {
    flex-basis: 100%;
    margin-bottom: 10px;
}

.join-room-list-modal-input-group input {
    width: 80%;
    margin-left: 10px;
} */

.join-room-list-modal-button-group button {
    background-color: #9792e3;
}

.join-room-list-modal-button-group button:hover {
    background-color: #8d88d3;
}
